body {
		color: rgb(24,165,38);
		font-family: Monospace;
}
li {
		color: rgb(24,165,38);
		font-family: Monospace;
}
h1 {
        color: rgb(24,165,38);
		font-family: Monospace;
}
p {
        color: rgb(24,165,38);
		font-family: Monospace;
}
a {
        color: rgb(24,165,38);
		font-family: Monospace;
}
body {
    background-color: black;
}
@font-face {
    font-family: Monospace Medium;
    src: url(fonts/Monospace.ttf);
}
li:not(:last-child) {
    padding-bottom: 20px;
}

div {
    font-family: Monospace Medium;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
}